body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#myCarousel
{
    background-color: rgb(197, 139, 231);
}
#myCarousel img
{
    height: 300px;
    margin-top: 30px;
}
